.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
  background-color: #fff;
  border-radius: 20px;
}
.modal-text {
  display: table-cell;
  width: 300px;
  height: 300px;
  text-align: center;
  vertical-align: middle;
}
.modal-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  padding-bottom: 4px;
  background-color: #fff;
  border: 2px #777 solid;
  border-radius: 15px;
  color: #777;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-show {
  margin: 50px;
}